-var path = '../';
-var head_url = 'https://popov.mastervision.su/tarot-skills/promo/';
-var head_title = '«Искусство Таро»';
-var head_description = '3-дневный онлайн-мастер-класс Василия Попова';
//- -var head_img = 'img/banner.jpg';
-var styles = path+'css/promo.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';

-var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'

mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin b(cl1,cl2,href,p,target,id)
	.button-container(class=cl1)
		a.button.button-up(class=cl2 href=href target=target id=id)=p

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		section#main
			.container
				img(src=path+"img/icons/sun-2.png", alt="Синее солнце").general-img.general-img-main-1
				img(src=path+"img/icons/sun-2.png", alt="Синее солнце").general-img.general-img-main-2
				include pug/base/1-header
				.row
					.col-md-6
						.video-wrapper.video-wrapper-main
							iframe(src="https://youtube.com/embed/?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
					.col-md-6
						h1.main-title Благодарим Вас за регистрацию на наш мастер-класс
							br
							| У нас к Вам просьба, прямо сейчас 
							span подпишитесь на наш телеграм
							| , там мы отправим Вам видео-урок "Название"
							br
							| Более того Вы сможете задать любой интересующий вас вопрос специалисту компании
						h2.main-subtitle Нажимайте на кнопку ниже
						a.button.button-promo(href="https://shop.mv-centr.ru/index.php?r=form/telegram&id_bot=8") Подписаться 
							img(src=path+"img/icons/tg.png", alt="Telegram")
				p.main-text Обратите внимание, если вы не увидели во входящих сообщениях письмо благодарность, то обязательно проверьте вкладку 
					span спам
					| , либо 
					span промоакции
				img.main-img(src=path+"img/images/main.png", alt="Картинка блока").mian-img
		include pug/base/2-footer
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts