section#revs
	.container
		img(src=path+"img/icons/card-sun.png", alt="Карта с солнцем").general-img.general-img-revs
		+gt('','Видео-отзывы')
		.revs.revs-video
			each yt, n in {1:'bXe9je30QbM',2:'ZDaSiUUvTzI',3:'nfFRj_1g0TQ',4:'gmm_eSfEbqw',5:'hjvlAXipPbc',6:'6q-8k1Xepxg',7:'mImv2yx_0gk',8:'r9WsHS5Dv4k',9:'tMzZaXVbkXc',10:hNcQoTdJCTQ}
				.video-wrapper.video-wrapper-rev(data-youtube=yt data-img=path+"img/revs/video-"+n+".jpg")
					img.video-wrapper-rev-img(src=path+"img/revs/video-"+n+".jpg", alt="Отзыв "+ n)
		+gt('general-title-revs','Отзывы')
		.revs.revs-text
			each n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
				a.revs-text-link(href=path+"img/revs/text-"+n + ".jpg" )
					img.revs-text-img(src=path+"img/revs/text-"+n+".min.jpg", alt="Отзыв "+ n)